* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
}
.wrapper {
  width: 1170;
  margin: 0 auto;
}
header {
  height: 100px;
  background: #262626;
  width: 100%;
  z-index: 12;
  position: fixed;
  
}
.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}
.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Bangers", cursive;
  color: #fff;
  letter-spacing: 5px;
}
nav {
  float: right;
  line-height: 100px;
}
nav a {
  text-decoration: none;
  font-family: "Bangers", cursive;
  padding: 40px;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: white;
}

.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(trees.jpeg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.banner-area h2 {
  padding-top: 8%;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: white;
}
.content-area {
  position: relative;
  top: 450px;
  background: #ddd;
  height: 1500px;
  margin-top: 200px;
}
.content-area {
  font-family: sans-serif;
  letter-spacing: 4px;
  padding-top: 30px;
  font-size: 40px;
  margin: 0;
  width: 100%;
  height: 1000px;
}
.content-area {
  padding-top: 2% 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  line-height: 50px;
}
